
.randomHolder{
  margin: 45px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media(max-width: 800px){
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  div{
    padding: 30px 10px;
    border-radius: 3px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 12px 0 rgba(168, 166, 168, 0.72);
    text-align: center;
    p:first-child{
      color: deeppink;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
.addStuff{

  p:last-child{
    font-size: 12px;
    margin-top: 10px;
    color:grey;
  }
  form{
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-column-gap: 5px;
  }
  input{
    padding: 10px 5px;
    border: 2px solid #000;
    outline: none;
    border-radius:3px;
    transition: .3s;
    &:hover,&:focus{
      border-color: transparent;
      border-bottom-color: deeppink;
    }
  }
  button{
    background: #000;
    border: 2px solid #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    &:hover,&:focus{
      background: transparent;
      color: #000;
    }
  }
}

.stuffList{
  p:last-child{

  }
  li{
    max-width: 300px;
    text-align: left;
    margin: 0 auto;
    font-weight: bold;
    padding-left: 5px;
    &::marker{
      color: deeppink;
    }
  }
}
.selectionBlock{
  max-width: 400px;
  margin: 80px auto 0;
  padding: 20px;
  text-align: center;
  & > p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
    &:before{
      content: "";
      width: 110px;
      height: 3px;
      background: deeppink;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  button{
    width: 280px;
    height: 50px;
    border:2px solid #000;
    background: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    &:hover,&:focus{
      background: transparent;
      color: #000;
    }
  }
}
.selectionResult {
  margin-top: 40px;
  min-height: 85px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    padding: 15px;
    border:2px solid deeppink;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 20px;
}

.banScore{
  position: fixed;
  top: 120px;
  right: -100%;
  padding: 10px;
  box-shadow: 0 3px 12px 0 rgba(168, 166, 168, 0.72);
  text-align: center;
  transition: .3s right;
  z-index: 2;
  background: #fff;
  &.showScore{
    right: 10px;
  }

  p{
    font-size: 14px;
    max-width: 130px;
    span{
      display: block;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
